.header {
  background-color: black;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 100%;
}

.header button.nav {
  margin-left: 100px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 5px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
}

